.navbar-dark {
  background: #016698 !important;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #ffbf00 !important;
}

.navbar-brand {
  color: white;
  padding-left: 4em;
  padding-right: 4em;
  font-size: 22px !important;
}
.col-md-6 {
  padding-left: 4em;
  padding-right: 1.5em;
  padding-top: 3em;
}
#maintenance1 {
  padding-bottom: 1em;
  padding-right: 2em;
}

#oilanalysis2 {
  padding-top: 1em;
  padding-right: 1.7em;
  padding-bottom: 1em;
  height: auto;
  /* max-width: 110px !important; */
}
.main-footer2 {
  background-color: black;
  margin-top: 2em;
}
.main-footer {
  background-color: black;
  margin-top: 2em;
}
.copyright {
  color: white;
  padding-left: 4em;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.banner-text {
  position: absolute;
  color: #016698;
  animation: bannermove 20s linear infinite;
  width: 1400px;
}

@keyframes bannermove {
  from {
    right: -1200px;
  }
  to {
    right: 1400px;
  }
}

.link1 {
  display: block;
  background-color: #016698;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  border: 1px solid #555;
}

.link2 {
  display: block;
  background-color: whitesmoke;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 0.5px solid #555;
}

.link2.active2 {
  background-color: lightsteelblue;
  color: black;
}

.link2:hover:not(.active2) {
  background-color: #555;
  color: white;
}

.nav2 {
  list-style-type: none;
  margin: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 220px;
  background-color: white;
}
.nav2title {
  padding-left: 2em;
  padding-right: 5em;
  font-size: 1.5em;
}
.col-md-9 {
  padding-left: 3em;
  padding-right: 1.5em;
  padding-top: 3em;
}
.col-md-3 {
  padding-left: 2.5em;
  padding-right: 3em;
  padding-top: 3em;
}
.contactus {
  text-align: center;
  font-size: 30px;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.col-md-12 {
  padding-right: 3.5em;
  padding-left: 3.5em;
}
.col-3 {
  padding-top: 1em;
  padding-bottom: 4em;
}

.strolltu {
  padding-top: 1em;
}
.linebreak {
  width: 400px;
}
.fluid-power-formulas {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.thankyou {
  padding-left: 3em;
  padding-top: 5em;
}
.thank-you-text {
  font-size: 40px;
  text-align: center;
  padding-top: 2.5em;
}
.bi-check-lg {
  margin-left: auto;
  margin-right: auto;
  color: green;
}
.thank-you-text-2 {
  text-align: center;
}

.simple-circuit {
  margin-left: auto;
  margin-right: auto;
}

.simple-hydraulic-simulation-title {
  padding-top: 1em;
  padding-left: 2.5em;
}

.maintenance-2 {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.preventive-maintenance-text {
  padding-top: 2em;
  padding-left: 2em;
}

.oil-analysis2 {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.oil-analysis-text {
  padding-top: 2em;
  padding-left: 2em;
}
.piston-pump,
.fixed-piston-pump,
.gear-pump-title-text,
.dump-pump-title-text,
.product-title-text {
  text-align: center;
  margin-top: 3em;
  font-size: 20px;
}

.rexrothpump,
.fixed-piston-pump-pic,
.triple-gear-pump-pic,
.dump-pump-pic,
.product-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-info {
  display: block;
  margin-left: auto;
  width: 150px;
  margin-right: auto !important;
}

.a10-table-title,
.gear-pump-table-title,
.product-title-table-text {
  text-align: center;
  background-color: #016698 !important;
  color: white;
}
.inside-table-text {
  vertical-align: middle;
  text-align: center !important;
}

.pressure-piston-pump-rpm {
  text-align: center;
  background-color: lightblue !important;
}
.centering-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.part-number-search-text {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* MANIFOLD `<a>` ELEMENTS */
.pdf-btns {
  display: inline-block !important;
}


/* PUMP FORM */
.pump-labels {
  width: 150px;
  display: inline-block;
  margin-bottom: 4px;
}

.hydraulic-pump-configurator {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

.pump-labels-final {
  width: 100px;
  display: inline-block;
  margin-bottom: 4px;
}

/* PUMP FORM END */

/* FLOWMETER-FORM */

.flowmeter-form-labels {
  width: 150px;
  display: inline-block;
  margin-bottom: 4px;
}

.flowmeter-configurator {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.flowmeter-labels-final {
  width: 100px;
  display: inline-block;
  margin-bottom: 4px;
}

/* FLOWMETER-FORM END */

/* MOTOR-FORM */

.motor-form-labels {
  width: 150px;
  display: inline-block;
  margin-bottom: 4px;
}

.hydraulicMotor1Configurator {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.motor-labels-final {
  width: 100px;
  display: inline-block;
  margin-bottom: 4px;
}

.form-label-style {
  display: inline-block;
}

.form-display-none {
  display: none;
}

.form-display-block {
  display: block;
}

.form-textarea {
  width: 500px;
  height: 300px;
  display: block;
}

/* MOTOR-FORM END */

/* TABLE-SORT-PART-NUMBER */

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

/* TABLE-SORT-PART-NUMBER END */

/* Interactive start */
.st0 {
  opacity: 0.8;
}
.st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
.st2 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-dasharray: 10.2172, 10.2172;
}
.st3 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st4 {
  stroke: #000000;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st5 {
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
.st6 {
  font-family: "MyriadPro-Regular";
}
.st7 {
  font-size: 91.3033px;
}
.st8 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st9 {
  fill: #cccccc;
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st10 {
  fill: #cccccc;
}
.st11 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-dasharray: 15.3029, 15.3029;
}
.st12 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-dasharray: 12.2633, 12.2633;
}
.st13 {
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-dasharray: 3;
}
.st14 {
  opacity: 0.5;
  fill: none;
  stroke: #ed1c24;
  stroke-width: 15;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
.st15 {
  opacity: 0.5;
  fill: none;
  stroke: #0000ff;
  stroke-width: 15;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
.st16 {
  fill: #ffce3c;
}
.st17 {
  font-size: 34.5528px;
}
.st18 {
  font-size: 29.9357px;
}
.st19 {
  fill: #ff0000;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st20 {
  fill: #f2f2f2;
}
.st21 {
  font-size: 50px;
}
.st22 {
  fill: none;
  stroke: #000000;
  stroke-width: 15;
  stroke-miterlimit: 10;
}
.st23 {
  fill: #00ff00;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st24 {
  font-size: 30px;
}
/* Interactive end */

/* Contact Us beginning */

.contact-iframe {
  border: 0;
}

.contact-your-message-input {
  display: none;
}

/* Contact Us end */

/* Inventory beginning */
.invy-text {
  margin-top: 50px; 
  margin-bottom: 20px
}
/* Inventory End */

/* Formula beginning */
/* Force (lbs) = */
#pressure1 {
  width: 120px;
}
#area1 {
  width: 99px;
  margin: 0px 5px;
}

/* Gpm =  */
#rpm2 {
  width: 99px;
}
#displacement2 {
  width: 150px;
  margin-left: 5px;
}
#equals2 {
  margin-left: 5px;
}

/* Hyd HP =  */
#gpm3 {
  width: 99px;
}
#psi3 {
  width: 120px;
  margin-left: 5px;
}
#equals3 {
  margin-left: 5px;
}

/* Torque (in lbs) =  */
#psi4 {
  width: 110px;
}
#area4 {
  width: 99px;
  margin-left: 5px;
}
#equals4 {
  margin-left: 5px;
}

/* Torque (in lbs) =  */
#hp5 {
  width: 99px;
}
#rpm5 {
  width: 99px;
  margin: 0px 5px;
}

/* Cylinder area (in²) = */
#dia6 {
  width: 110px;
}
#equals6 {
  margin: 5px;
}

/* EREA - Effected Rod End Area (in²) =  */
#dia12 {
  width: 110px;
}
#rod12 {
  width: 110px;
  margin-left: 5px;
}
#equals12 {
  margin-left: 5px;
}

/* Cyl Time (seconds) = */
#area7 {
  width: 99px;
}
#stroke7 {
  width: 99px;
  margin-left: 5px;
}
#gpm7 {
  width: 99px;
  margin: 0px 5px;
}

/* Cyl HP = */
#cylSpeed8 {
  width: 145px;
}
#cylForce8 {
  width: 125px;
  margin-left: 5px;
}
#equals8 {
  margin-left: 5px;
}

/* Cyl Adj. gpm on retract = */
#cylArea9 {
  width: 110px;
}
#gpm9 {
  width: 99px;
  margin-left: 5px;
}
#erea9 {
  width: 99px;
  margin: 0px 5px;
}

/* Cyl Speed (ft/min) = */
#stroke10 {
  width: 99px;
}
#time10 {
  width: 125px;
  margin: 0px 5px;
}

/* Cyl Speed (ft/min) = */
#gpm11 {
  width: 99px;
}
#area11{
  width: 110px;
  margin: 0px 5px;
}
/* Formula end */

/* Product Forms start */
.input-fields {
  display: inline-block;
  margin-bottom: 1rem;
}

/* Product Forms end */